# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
build
out
.expo
.expo-shared

# Turbo
.turbo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Supabase
supabase/.branches
supabase/.temp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/
